body {
    background-color: aqua;
}
#new-quote {
    font-weight: bold;
    background-color: rgb(255, 115, 0);
}
#quote-box {
    background-color: white;
    margin: auto;
    width: 60%;
    margin-top: 40vh;
}
